/*style pour toutes les pages*/

html {
  width: 960px;
  margin-left: 300px;
}

iframe {
  border-style: none;
}

footer {
  text-align: center;
}

h1, h2 {
  text-align: center;
  font: bold 1.5em "Fira Sans", sans-serif;
}

p {
  font: 1.2em "Fira Sans", sans-serief;
  text-align: center;
}

/* 1 paragraphe et 1 photo*/

.style1 {
  border: solid blue;
  border-radius: 10px;
  margin-top: 10px;
}

img {
  height: 100%;
  width: 100%;
}

/* navigation page style*/

.specialmenu {
  width: 960px;
  margin : 0;
}

/*index page style*/

.navigation-bar {
  display: flex;
  background-color: black;
}

.menu {
  margin-left: 1%;
}

.box-logo {
  width: 100px;
  height: 100px;
  margin-left: 10%;
}

.logo {
  object-fit: contain;
}

.menu ul {
  list-style-type: none;
}

.menu ul li { 
  float:left;
}

.menu li a {
  display: block;
  color: white;
  padding: 25px 25px;
  font: 1.5em "Fira Sans", sans-serief;
  text-decoration: none;
  text-align: center;
}

.menu li a:hover {
  background-color: red;
}

.box-img {
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.ligne1 {
  display: flex;
  margin-bottom: 20px;
}

.ligne2 {
  display: flex;
}

/*form page style*/

.formulaire {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.formulaire ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.formulaire li + li {
  margin-top: 1em;
}

.formulaire input, .formulaire textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

.formulaire input:focus, .formulaire textarea:focus {
   border-color: #000;
}

.formulaire textarea {
  vertical-align: top;
  height: 5em;
}

.formulaire .button {
  padding-left: 90px;
}

.formulaire button {
  margin-left: .5em;
}

.img-teacher {
  object-fit: contain;
}

/* mission page*/
.wrnot, .wrdiff {
  list-style-type: disc;
}

.wrnot li, .wrdiff li {
  font: 1.2em "Fira Sans", sans-serief;
  text-align: justify;
}

/* service page */

.service {
  position: relative;
  text-align: center;
  border: solid red;
  width: 400px;
  height: 350px;
  margin: auto;
  overflow: hidden;
  border-radius: 1em;
}

.service img {
  width: 100%;
  height: 80%;
  opacity: 0.3;
}

.price {
  position: absolute;
  font: 4em "Fira Sans", sans-serief;
  color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
